{% extends 'main/base_inv3.html' %}
{% block content %}
    <table>
<thead>
<tr>
<td>
  	<div class="btn-group">
{% if show_data == "day_only" %}
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='all_database' %}" class="btn btn-info disabled">Today only</a>
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='all_database' %}" class="btn btn-primary disabled ">All Data</a>
{% elif show_data == "all_database" %}
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='day_only' %}" class="btn btn-primary disabled ">Today only</a>
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='day_only' %}" class="btn btn-info disabled ">All Data</a>
{% endif %}
    </div>

</td>
<td>
   <a href="{% url 'sort_n' fsname='comp_name' svalue='warr' stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn btn-primary ">Wranings</a>
</td>
<td>
   <a href="#" class="btn btn-primary disabled "> Nod {{eset_d.sys_field1}}</a>
</td>
<td>
   <a href="/inv" class="btn btn-primary "> Main Page</a>
</td>
<td>
   <a href="/admin" class="btn btn-primary "> Admin</a>
</td>
</tr>
</thead>
</table>
<table>
<thead>
  <tr>
{% for b in but_arr %}
{% if b.sys_field3 == "drop_list" %}
{% if b.sys_field1 == "comp_name" %}
   <td>
   <div class="dropdown">
    <button class="btn-block btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">{{b.sys_field2}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
{% for c in filt_cn %}
      <li><a href="{% url 'sort_n' svalue=c fsname='comp_name' stype='comp_name' lst_srt=last_srt shw_data=show_data %}">{{c}}</a></li>
{% endfor %}
    </ul>
  </div>
{%elif b.sys_field1 == "user_name" %}
   <td>
   <div class="dropdown">
    <button class="btn-block btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">{{b.sys_field2}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
{% for c in filt_un %}
      <li><a href="{% url 'sort_n' svalue=c fsname='user_name' stype='user_name' lst_srt=last_srt shw_data=show_data %}">{{c}}</a></li>
{% endfor %}
    </ul>
  </div>
{% endif %}
{%elif b.sys_field3 == "Blank" %}
    <td>
   <div>
    <button class="btn-block btn btn-primary disabled" type="button" >{{ b.sys_field2}}
    <span class="caret"></span></button>
  </div></td>
 {%endif%}
 {%endfor%}
  </tr>
 </thead>
</table>  
 <table>
 <thead>
<tr>
</tr>
<td>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">{{name}} Info</a></li>
    <li><a data-toggle="tab" href="#menu1">{{name}} Stat</a></li>
  </ul>

  <div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <table class="relative">

<tr>
{% if photo_url.url_name == "" or photo_url.url_name == "null" or photo_url.url_name == " "  %}
<td rowspan="4"><img src= "https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" height="169" width="169"></td>
{% else%}
<td rowspan="4"><img src="{{ photo_url.url_name }}"></td>
{%endif%}
</td>
	 <td class="btn btn-info btn-block disabled "><p align="left" >Name :</p></td>
	 <td colspan="3"><p align="left"><b>{{photo_url.u_name}}</b></p></td>
	</tr>
	<tr>
	<td class="btn btn-info btn-block disabled "><p align="left">Last Name :</p></td>
	<td colspan="3"><p align="left"><b>{{photo_url.so_name}}</b></p></td>

	</tr>
	<tr>
	<td class="btn btn-info btn-block disabled "> <p align="left">E-Mail :</p></td>
	 <td colspan="3"><p align="left">{{photo_url.mail_name}}</p></td>

	</tr>
	<tr>
<td class="btn btn-info btn-block disabled "><p align="left">SomeThing :</p></td>
	 <td colspan="3"><p align="left">something</p></td>

	</tr>

 </tbody>
</table>
      
     <table class="relative">
 <thead>
  <tr>
   <td><button class="btn-block btn btn-primary disabled" type="button" >Op System
    <span class="caret"></span></button>
    </td>
   <td><button class="btn-block btn btn-primary disabled" type="button" >Model
    <span class="caret"></span></button></td>
      <td><button class="btn-block btn btn-primary disabled" type="button" >Service Tag
    <span class="caret"></span></button></td>
       <td><button class="btn-block btn btn-primary disabled" type="button" >Prosessor
    <span class="caret"></span></button></td>
       <td><button class="btn-block btn btn-primary disabled" type="button" >Memory
    <span class="caret"></span></button></td>
  </tr>
 </thead>
<tr>
	 <td data-head='CompName'>{{ table_today.op_system }}</td>
	 <td data-head='UserName'>{{ table_today.model_name }}</td>
     <td data-head='DateBoot'>{{ table_today.service_tag }}</td>
     <td data-head='UpdNeed'>{{ table_today.processor }}</td>
	 <td data-head='EsetNod'>{{ table_today.memory }}</td>
	</tr>
 </tbody>
</table>

    </div>
    <div id="menu1" class="tab-pane fade">
     <table class="relative, ">
     <thead>
     <tr bgcolor ="#1195b2">

{% if add_to_name == "Main page" or add_to_name == "Wranings" or add_to_name == "Filtring by " %}
{% for b in but_arr %}
   <td>
   <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success ">{{ b.sys_field2 }} </a>
   </td>
{% endfor %}
{%elif add_to_name == "Sorting" %}
{% for b in but_arr %}
   <td bgcolor>
{% if last_srt == "+" and srt_f_name == b.sys_field1 %}
    <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success "><span class="glyphicon glyphicon-menu-up"></span>{{ b.sys_field2 }}<span class="glyphicon glyphicon-menu-up"></a>
{%elif last_srt == "-" and srt_f_name == b.sys_field1 %}
    <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success "><span class="glyphicon glyphicon-menu-down"></span>{{ b.sys_field2 }}<span class="glyphicon glyphicon-menu-down"></a>
{% else %}
    <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success ">{{b.sys_field2}}</a>
{% endif %}
    </td>
{% endfor %}
{% endif %}
 
  </tr>
 </thead>
<tbody>

 {% for a in table %}
	<tr>
	 <td data-head='CompName'><h3><a href="{% url 'sort_n' svalue=a.comp_name fsname='comp_name' stype='comp_name' lst_srt=last_srt shw_data=show_data %}">{{ a.comp_name }}</a></h3></td>
	 <td data-head='UserName'><h3><a href="{% url 'sort_n' svalue=a.user_name fsname='user_name' stype='user_name' lst_srt=last_srt shw_data=show_data %}">{{ a.user_name }}</a></h3></td>
     <td data-head='DateBoot'>{{ a.date_boot }}</td>
     <td data-head='UpdNeed'>{{ a.upd_need }}</td>
	 <td data-head='EsetNod'>{{ a.eset_nod }}</td>
	 <td data-head='PubDate'>{{ a.pub_date }}</td>
	</tr>
{% endfor %}
</table>
    </div>
    
  </div>
</div>

</td>
</tr>
 </thead>

</table>   
<form method="GET" class="post-form">
    <input id="key" type="hidden" name="key" value="Hello">

            <button type="submit" class="save btn btn-default">Save</button>
        </form>

{% endblock content %}
