{% extends 'main/base_inv3.html' %}
{% block content %}

<table>
<thead>
<tr>
<td>
  	<div class="btn-group">
{% if show_data == "day_only" %}
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='all_database' %}" class="btn btn-info disabled">Today only</a>
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='all_database' %}" class="btn btn-primary ">All Data</a>
{% elif show_data == "all_database" %}
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='day_only' %}" class="btn btn-primary ">Today only</a>
        <a href="{% url 'sort_n' fsname='comp_name' svalue=name stype=ftype lst_srt=last_srt shw_data='day_only' %}" class="btn btn-info disabled ">All Data</a>
{% endif %}
    </div>

</td>
<td>
   <a href="{% url 'sort_n' fsname='comp_name' svalue='warr' stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn btn-primary ">Wranings</a>
</td>
<td>
   <a href="#" class="btn btn-primary disabled "> Nod {{eset_d.sys_field1}}</a>
</td>
<td>
   <a href="/inv" class="btn btn-primary "> Main Page</a>
</td>
<td>
   <a href="/admin" class="btn btn-primary "> Admin</a>
</td>
</tr>
</thead>

</table>

<table>
<thead>
  <tr>
{% for b in but_arr %}
{% if b.sys_field3 == "drop_list" %}
{% if b.sys_field1 == "comp_name" %}
   <td>
   <div class="dropdown">
    <button class="btn-block btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">{{b.sys_field2}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
{% for c in filt_cn %}    
      <li><a href="{% url 'sort_n' svalue=c fsname='comp_name' stype='comp_name' lst_srt=last_srt shw_data=show_data %}">{{c}}</a></li>
{% endfor %}
    </ul>
  </div>
{%elif b.sys_field1 == "user_name" %}
   <td>
   <div class="dropdown">
    <button class="btn-block btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown">{{b.sys_field2}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
{% for c in filt_un %}    
      <li><a href="{% url 'sort_n' svalue=c fsname='user_name' stype='user_name' lst_srt=last_srt shw_data=show_data %}">{{c}}</a></li>
{% endfor %}
    </ul>
  </div>
{% endif %}
{%elif b.sys_field3 == "Blank" %}
    <td>
   <div>
    <button class="btn-block btn btn-primary disabled" type="button" >{{ b.sys_field2}}
    <span class="caret"></span></button>
  </div></td>
 {%endif%}
 {%endfor%}
  </tr>
 </thead>
 <thead>
  <tr bgcolor ="#1195b2">

{% if add_to_name == "Main page" or add_to_name == "Wranings"%}
{% for b in but_arr %}
   <td>
   <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success "> {{ b.sys_field2 }} </a>
   </td>
{% endfor %}
{%elif add_to_name == "Sorting"%}
{%for b in but_arr %}
   <td bgcolor>
{% if last_srt == "+" and srt_f_name == b.sys_field1 %}
    <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success "><span class="glyphicon glyphicon-menu-up"></span> {{ b.sys_field2 }}<span class="glyphicon glyphicon-menu-up"></a>
{%elif last_srt == "-" and srt_f_name == b.sys_field1 %}
    <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success "><span class="glyphicon glyphicon-menu-down"></span>{{ b.sys_field2 }}<span class="glyphicon glyphicon-menu-down"></a>
{% else %}
    <a href="{% url 'sort_n' fsname=b.sys_field1 svalue=name stype=ftype lst_srt=last_srt shw_data=show_data %}" class="btn-block btn btn-success ">{{b.sys_field2}} </a>
{% endif %}
    </td>
{% endfor %}
{% endif %}
 
  </tr>
 </thead>
 
{% for a in table %}
	<tr>
	 <td data-head='CompName'><h3><a href="{% url 'sort_n' svalue=a.comp_name fsname='comp_name' stype='comp_name' lst_srt=last_srt shw_data=show_data %}">{{ a.comp_name }}</a></h3></td>
	 <td data-head='UserName'><h3><a href="{% url 'sort_n' svalue=a.user_name fsname='user_name' stype='user_name' lst_srt=last_srt shw_data=show_data %}">{{ a.user_name }}</a></h3></td>
     <td data-head='DateBoot'>{{ a.date_boot }}</td>
     {% if a.upd_need > 0 %}
     <td data-head='UpdNeed' bgcolor=#FF8080>{{ a.upd_need }}</td>
     {%else%}
     <td data-head='UpdNeed'>{{ a.upd_need }}</td>
     {% endif %}

     {% if eset_d.sys_field6 > a.eset_nod %}
	 <td data-head='EsetNod' bgcolor=#FF8080>{{ a.eset_nod}}</td>
	 {%else%}
	 <td data-head='EsetNod'>{{ a.eset_nod }} </td>
	 {% endif %}

	 <td data-head='PubDate'>{{ a.pub_date }}</td>
	</tr>
{% endfor %}
 </tbody>
</table>

{% endblock content %}
